@import url('https://fonts.googleapis.com/css?family=Syncopate');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* GLOBAL STYLES */

* {
  border: 1px solid gold;
}

.body {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.bodyContent {
  background-color: #F7EBE1;
}

/* LOGO-TOP NAV-FOOTER STYLES */

.logo {
  background-color: #89725f;
  display: flex;
  flex-direction: row;
  justify-content: f;
  padding-top: 10px;
}

.leaf {
  max-height: 60px;
}

.logo h1 {
  margin-bottom: 10px;
}

.logo h1 a {
  text-decoration: none;
  font-family: 'Syncopate', sans-serif;
  font-size: 46px;
  color: lightgreen;
  margin-bottom: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #3D220C;
}

.navLink {
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  font-family: 'Syncopate', sans-serif;
  font-size: 14px;
  color: lightgreen;
}

.footer {
  margin-top: 40px;
}
