@import url('https://fonts.googleapis.com/css?family=Syncopate');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* GLOBAL STYLES */

/* * {
  border: 1px solid gold;
} */

.body {
  margin-left: 50px;
  margin-right: 50px;
  max-width: 1200px;
  margin: auto;
}

/* LOGO-TOP NAV-FOOTER STYLES */

.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #4d4d4d;
}

.logo h1 {
  margin-bottom: 10px;
}

.logo h1 a {
  text-decoration: none;
  font-family: 'Syncopate', sans-serif;
  font-size: 46px;
  color: lightgreen;
  margin-bottom: 10px;
  padding-left: 50px;
}

.navItms {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 5px;
  background-color: black;
}

.nav {
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: lightgreen;
}

.footer {
  margin-top: 40px;
}
