@import url('https://fonts.googleapis.com/css?family=Syncopate');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* GLOBAL STYLES */

/* * {
  border: 1px solid gold;
} */

.body {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.bodyContent {
  background-color: #F7EBE1;
}

/* LOGO-TOP NAV-FOOTER STYLES */

.logo {
  background-color: #89725f;
  display: flex;
  flex-direction: row;
  justify-content: f;
  padding-top: 10px;
  padding-left: 8px;
}

.leaf {
  max-height: 60px;
}

.logo h1 {
  margin-bottom: 10px;
}

.logo h1 a {
  text-decoration: none;
  font-family: 'Syncopate', sans-serif;
  font-size: 46px;
  color: lightgreen;
  margin-bottom: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;

  background-color: #3D220C;
}

.navLink {
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  font-family: 'Syncopate', sans-serif;
  font-size: 14px;
  color: lightgreen;
}

.links {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
}

.what-is-xchem {
  font-family: 'Syncopate', sans-serif;
  font-size: 18px;
  color: #409512;
  font-style: bold;
  padding-left: 25px;
  padding-top: 30px;
  margin-bottom: -10px;
}

.home {
  font-family: 'Open-sans', sans-serif;
  color: #361F0F;
  font-size: 14px;
}

.homeParagraph {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 25px;
  margin-top: 0px;
}

form {
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  flex-drection: row;
  justify-content: center;
}

.searchBar {
  height: 30px;
  width: 600px;
  padding-left: 10px;
}

.submit:hover {
  background-color: lightgreen;
}

.footer {
  margin-top: 40px;
}
