<div class="whatIsXchem">
  <h1 class="pageTitle">Data Integrity</h1>
</div>
<div class="homeParagraph">
  <p class="home">The US FDA does not require companies labeling OTC cosmetics or toiletries (foreign or domestic) to provide a list of product ingredients for retail sale in the US (animal, chemical or otherwise.) In efforts to compile product data, we relied heavily on existing law in the State of California, and their open data sources, for product ingredients obtained by CA state law which requires disclosure for all retail products in state. Luckily for us, California is large and many of the products for retail sale also sell nationally, allowing us to leverage that data.</p>
  <p class="home">&dagger;Data populating our database for product ingredients was sourced from CHHS Open Data (https://data.chhs.ca.gov/) based on recent update occurring January 2018. A newly released dataset (1/29/2018) has become available, and Xchem will update our database to make recent inclusions on 2/7/2017.</p>
  <p class="home">&dagger;Xchem has groomed CA state data to remove duplicates; is has otherwise remained intact with original data integrity.</p>
  <p class="home">&dagger;&dagger;Product ingredients have been included based on those identified by Environmental Working Group (https://www.EWG.org) based on their incredibly robust (and irreplacable) data analysis leveraging numerous data sets and clinical studies. Xchem.io is unaffiliated with EWG.org and makes use of chemical ingredient definitions only; without any integration with or replication of EWG proprietary data.</p>
</div>
<div class="whatIsXchem">
  <h1 class="pageTitle">In Appreciation</h1>
</div>
<div class="homeParagraph">
<p class="home">Xchem would like to thank the State of California for doing due dilligence in making topical products safer for consumers with transparency in product ingredients. May other states follow your lead, and may the FDA be pursuaded into telling the public the truth about the products they use, and that they buy for their families.</p>
<p class="home">Xchem would also like to thank EWG.org for the work that they continue to do to make consumer products (and all manner of things from packaged food to safety of drinking water) transparent to consumers. We would also like to applaud them for the work that they completed on SkinDeep, an incredibly robust database with the ability to index even more products, and use their data analysis to provide consumers with quantifiable measurements on the true potential for health risks.</p>
</div>
