<div class="whatIsXchem">
  <p>Find chemical ingredients in your products, understand any known effects, and act on that information to read labels, and buy safer products for yourself and your family.
  <p>Our database<sup>&dagger;</sup> includes nearly 70,000 brands of cosmetics, and toiletries including those for sun care, hair care and baby products among many others. Search for your brands to see chemical content.</p>
</div>
<div class="search">
  <form ng-submit="ctrl.processSearch()">
    <input type="text" id="BrandName" placeholder="Search by Brand" ng-model="ctrl.searchData">
    <input type="submit" />
  </form>
</div>
<p>Submit a brand search for results...</p>
<div>
  <ul>
    <li ng-repeat='obj in ctrl.searchResult' ng-click='ctrl.handleClick(obj.id)' ng-show'one-brand.html'>{{obj.BrandName}}</</li>
  </ul>
<div>
<div class="showOne" ng-if="ctrl.showBrand" ng-include="'/partials/one-brand.html'">
</div>
