<div class="whatIsXchem">
  <h1 class="pageTitle">Toxic Ingredients &amp; Health Concerns</h1>
</div>
<div class="homeParagraph">
  <p class="home">The summary of chemicals/ingredients appearing below were sourced from <a href="https://www.ewg.org/ewgverified/" target="_blank">EWG.org</a> based on health or animal welfare concerns.<sup>&dagger;&dagger;</sup>
</div>
<div class="chemTable">
  <table>
    <tr>
      <th>Chemical Category</th>
      <th>Health Concerns</th>
      <th>Check Labels For Ingredients</th>
    </tr>
    <tr>
      <td>2-butoxyethanol</td>
      <td>Respiratory and hematopoietic toxicity</td>
      <td>2-butoxyethanol</td>
    </tr>
    <tr>
      <td>Alkylphenol ethoxylates (Complete list available for <a href="https://static.ewg.org/ewgverified/docs/EWG_License_Unacceptable_List_C01.pdf" target="_blank">review or download</a>)</td>
      <td>Ecotoxicity</td>
      <td>Alkylphenol ethoxylates</td>
    </tr>
    <tr>
      <td>Animal-derived ingredients</td>
      <td>Animal welfare</td>
      <td>Emu oil, Equine oil, Mink oil</td>
    </tr>
    <tr>
      <td>BHA</td>
      <td>Cancer and developmental effects in animals</td>
      <td>BHA</td>
    </tr>
    <tr>
      <td>Bithionol</td>
      <td>Photosensitization</td>
      <td>Bithionol</td>
    </tr>
    <tr>
      <td>Carbon black</td>
      <td>Cancer, contamination with petrochemicals such as PAHs</td>
      <td>Carbon black</td>
    </tr>
    <tr>
      <td>Chlorofluorocarbon propellants</td>
      <td>Ecotoxicity</td>
      <td>Chlorofluorocarbon propellants</td>
    </tr>
    <tr>
      <td>Chloroform</td>
      <td>Cancer</td>
      <td>Chloroform</td>
    </tr>
    <tr>
      <td>Cocamide DEA</td>
      <td>Cancer (<a href="https://oehha.ca.gov/proposition-65/proposition-65-listProposition65" target="_blank">Proposition 65 listed</a>, concern likely due to DEA contamination)</td>
      <td>Cocamide DEA</td>
    </tr>
    <tr>
      <td>Ethanolamines</td>
      <td>Asthma, cancer (in DEA), reproductive and developmental toxicity</td>
      <td>  Monoethanolamine, Diethanolamine, Triethanolamine</td>
    </tr>
    <tr>
      <td>Ethoxylated compounds (Complete list available for <a href="https://static.ewg.org/ewgverified/docs/EWG_License_Unacceptable_List_C01.pdf" target="_blank">review or download</a>)</td>
      <td>Potential 1,4-dioxane and ethylene oxide contamination (and related
      cancer concerns)</td>
      <td>Ethoxylated compounds</td>
    </tr>
    <tr>
      <td>Formaldehyde and formaldehyde-like chemicals</td>
      <td>Cancer, sensitization</td>
      <td>Formaldehyde, Methylene glycol</td>
    </tr>
    <tr>
      <td>Formaldehyde releasers</td>
      <td>Contact dermatitis</td>
      <td>DMDM hydantoin, Imidazolidinyl urea, Diazolidinyl urea, Quaternium-15, Bronopol (2-bromo-2-nitropropane-1,3-diol), 5-Bromo-5-nitro-1,3-dioxane, (sodium) Hydroxymethylglycinate, Polyoxymethylene urea, Methenamine, Glyoxal</td>
    </tr>
    <tr>
      <td>Halogenated salicylanilides, di-, tri-, metabromsalan &amp; tetrachlorosalicylanilide</td>
      <td>Dermal toxicity</td>
      <td>Halogenated salicylanilides, di-, tri-, metabromsalan &amp; tetrachlorosalicylanilide</td>
    </tr>
    <tr>
      <td>Hexachlorophene</td>
      <td>Neurotoxicity</td>
      <td>Hexachlorophene</td>
    </tr>
    <tr>
      <td>Hydroquinone</td>
      <td>Suspected carcinogen, kidney damage in animals</td>
      <td>Hydroquinone</td>
    </tr>
    <tr>
      <td>Isothiazolinones</td>
      <td>Contact dermatitis</td>
      <td>Methylchlorylisothiazolinone, Methylisothiazolinone, Benzoisothiazolinone</td>
    </tr>
    <tr>
      <td>Lead acetate</td>
      <td>Cancer, reproductive/developmental toxicity</td>
      <td>Lead acetate</td>
    </tr>
    <tr>
      <td>Microbeads/Microplastic</td>
      <td>Ecotoxicity</td>
      <td>Microplastic is defined as plastic microspheres ≤ 5mm in diameter</td>
    </tr>
    <tr>
      <td>Mercury compounds</td>
      <td>Neurotoxicity</td>
      <td>Mercury compounds</td>
    </tr>
    <tr>
      <td>Methacrylates (Complete list available for <a href="https://static.ewg.org/ewgverified/docs/EWG_License_Unacceptable_List_C01.pdf" target="_blank">review or download</a>)</td>
      <td>Sensitization, respiratory irritation</td>
      <td>Methacrylates</td>
    </tr>
    <tr>
      <td>Methylene chloride</td>
      <td>Cancer</td>
      <td>Methylene chloride</td>
    </tr>
    <tr>
      <td>Nitro- and polycyclic musks</td>
      <td>Endocrine disruption</td>
      <td>Musk xylene, Musk ketone, Musk ambrette (synthetic), Galaxolide, Tonalide, Phantolide, Celestolide, Traseolide, Versalide, Cashmeran</td>
    </tr>
    <tr>
      <td>Nitrosating agents (Complete list available for <a href="https://static.ewg.org/ewgverified/docs/EWG_License_Unacceptable_List_C01.pdf" target="_blank">review or download</a>)</td>
      <td>Potential nitrosamine contamination (and related cancer concerns)</td>
      <td>Nitrosating agents</td>
    </tr>
    <tr>
      <td>Octyl methoxycinnamate (OMC), Oxybenzone (benzophenone-3)</td>
      <td>Endocrine disruption</td>
      <td>Octyl methoxycinnamate (OMC), Oxybenzone (benzophenone-3)</td>
    </tr>
    <tr>
      <td>Parabens</td>
      <td>Endocrine disruption</td>
      <td>Propyl paraben, Isopropyl paraben, Butyl paraben, Isobutyl paraben</td>
    </tr>
    <tr>
      <td>Perfluorinated compounds (Complete list available for <a href="https://static.ewg.org/ewgverified/docs/EWG_License_Unacceptable_List_C01.pdf" target="_blank">review or download</a>)</td>
      <td>Persistence and bioaccumulation, various health endpoints</td>
      <td>Perfluorinated compounds</td>
    </tr>
    <tr>
      <td>Phthalates (Complete list available for <a href="https://static.ewg.org/ewgverified/docs/EWG_License_Unacceptable_List_C01.pdf" target="_blank">review or download</a>)</td>
      <td>Endocrine disruption/developmental/reproductive toxicity</td>
      <td>Dibutyl phthalate, Dimethyl phthalate, Butylbenzyl phthalate, Diethyl phthalate</td>
    </tr>
    <tr>
      <td>Phenacetin</td>
      <td>Cancer</td>
      <td>Phenacetin</td>
    </tr>
    <tr>
      <td>Propyl gallate</td>
      <td>Incomplete data on reproductive toxicity, some evidence of endocrine disruption</td>
      <td>Propyl gallate</td>
    </tr>
    <tr>
      <td>Quaternary ammonium compounds (Complete list available for <a href="https://static.ewg.org/ewgverified/docs/EWG_License_Unacceptable_List_C01.pdf" target="_blank">review or download</a>)</td>
      <td>Asthma, sensitization</td>
      <td>Quaternary ammonium compounds</td>
    </tr>
    <tr>
      <td>Retinyl Palmitate/Retinoids</td>
      <td>Phototoxicity</td>
      <td>Retinyl Palmitate/Retinoids</td>
    </tr>
    <tr>
      <td>Siloxanes/cyclomethicone (Complete list available for <a href="https://static.ewg.org/ewgverified/docs/EWG_License_Unacceptable_List_C01.pdf" target="_blank">review or download</a>)</td>
      <td>Bioaccumulation, D4: weak endocrine disruptor &amp; uterine tumors, D5: endocrine disruption &amp; reproductive, D6: endocrine disruption &amp; reproduction ecotoxicity</td>
      <td>D3, D4, D5, D6, D7, Cyclomethicone</td>
    </tr>
    <tr>
      <td>Silver and its salts (Complete list available for <a href="https://static.ewg.org/ewgverified/docs/EWG_License_Unacceptable_List_C01.pdf" target="_blank">review or download</a>)</td>
      <td>Ecotoxicity</td>
      <td>Silver and its salts</td>
    </tr>
    <tr>
      <td>Styrene</td>
      <td>Cancer</td>
      <td>Styrene</td>
    </tr>
    <tr>
      <td>Talc</td>
      <td>Potential asbestos contamination (and related cancer concerns)</td>
      <td>Talc</td>
    </tr>
    <tr>
    <tr>
      <td>Thimerosal</td>
      <td>Developmental neurotoxicity</td>
      <td>Thimerosal</td>
    </tr>
    <tr>
      <td>Toluene</td>
      <td>Reproductive and developmental toxicity, respiratory irritation</td>
      <td>Toluene</td>
    </tr>
    <tr>
      <td>Triclosan, Triclocarban</td>
      <td>Endocrine disruption, ecotoxicity</td>
      <td>Triclosan, Triclocarban</td>
    </tr>
    <tr>
      <td>Triphenyl phosphate</td>
      <td>Endocrine disruption</td>
      <td>Triphenyl phosphate</td>
    </tr>
    <tr>
      <td>Vinyl chloride</td>
      <td>Cancer</td>
      <td>Vinyl chloride</td>
    </tr>
    <tr>
      <td>Zirconium-containing complexes</td>
      <td>Respiratory and dermal toxicity</td>
      <td>Zirconium-containing complexes</td>
    </tr>
  </table>
